.bloomberg {
  text-decoration: underline;
  color: #CF5300;
}

.bloomberg:hover {
  text-decoration: none; 
  color: #CFCC00;
}

.stock-chart {
  width: 100%;
}

.ui-tooltip, .qtip {
  max-width: 400px;
}
